
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form ng-submit="userRegister()">
          <div class="form-group">
            <label class="control-label" for="focusedInput">New users:</label>
            <input class="form-control" id="focusedInput" type="text" placeholder="Username" ng-model='newUser.username'><br>
            <label class="control-label" for="focusedInput"></label>
            <input class="form-control" id="focusedInput" type="password" placeholder="Password" ng-model='newUser.password'>
            <label class="control-label" for="focusedInput"></label>
            <input class="form-control" id="focusedInput" type="password" placeholder="Confirm Password" ng-model='newUser.password2'>
          </div>

          <button type="button" class="btn btn-default" ng-click="removeProperty()">Cancel</button>
          <button class="btn btn-success">Register</button>


        </form>
    </div>

    <div class="col-md-6">
      <form ng-submit="userLogin()">
       <div class="form-group">
         <label class="control-label" for="focusedInput">Existing:</label>
         <input class="form-control" id="focusedInput" type="text" placeholder="Username" ng-model='user.username'><br>
         <label class="control-label" for="focusedInput"></label>
         <input class="form-control" id="focusedInput" type="password" placeholder="Password" ng-model='user.password'>
       </div>
     <button type="button" class="btn btn-default" ng-click="removeProperty()">Cancel</button>
     <button class="btn btn-success">Login</button>

       </form>
    </div>
  </div>
</div>
